body{
    background: white;
}

.container{
    background: yellow;
    border: thin solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: stretch;
}

#div1{
    width: 40vw;
    min-width: 200px;
    height: 40vh;
    background: white;
    border: thin solid red;
}
#div2{
    width: 40vw;
    height: 40vh;
    background: white;
    border: thin solid red;
}

/*flexgrid is the name of a div element. It acts as a flexbox container, with the flexgrid div elements inside it acting
as flex items. There is no need to state this in ".flexgrid div" as it automatically inherits this property from it's parent.  */
.flexgrid{
    margin-top: 50px;
    width: 60vw;
    height: 120vh;
    min-width: 60vw;
    min-height: 120vh;
      /* Adjust other styles like borders, etc. */
    display: flex;
    flex-wrap:wrap;
    }
/*The flexgrid div below is used to stylise all div elements within the class: "flexgrid" */
.flexgrid div{
    width: 10%;
    height: 2.5%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images_copy/Whybirds_Logo_Vertical.png); 
}
.base_block{
    width: 10%;
    height: 4.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images_copy/cardboard_box.png) 


}

/*STUCK ON THIS. Not sure why this is being overwritten by flexgrid when image or background-ciolor is written.
But also when not written,  */
body.flexgrid.tetromino div {
    width: 10%;
    height: 2.5%;
    background-color: blue !important;
}



@media all and (max-width: 500px) {

    .container{
        flex-direction:column;
    }
    #div1{
        background:aqua;
    }
    #div2{
        background: green;
    }
}
